@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #1e13b4;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

.text-purple {
  color: #aa12aa; }

.text-blue {
  color: #2649e7; }

.text-red {
  color: #ee1111; }

.text-yellow {
  color: #dfee11; }

.text-green {
  color: #03e77d; }

.text-black {
  color: #000; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #0059fd, #1409f0);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize; }

.header-save {
  font-size: 2.05rem;
  font-weight: 500;
  text-transform: capitalize; }

.header-sec {
  font-size: 1rem;
  color: rgba(222, 222, 222, 0.88);
  text-transform: capitalize;
  font-weight: 500; }

.paragraph {
  font-size: 1.4rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.balance {
  font-weight: 400;
  font-size: 1.5rem; }

.currency {
  font-size: 1.5rem;
  float: right;
  font-weight: 800; }

.header-text {
  font-size: 2.5rem;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600; }

.header-sub {
  font-size: 1.5rem;
  color: rgba(222, 222, 222, 0.88);
  text-transform: capitalize;
  font-weight: 300; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-medium {
  margin-top: 3rem !important; }

.composition {
  position: relative;
  background: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem; }

.add-padding {
  padding: 1rem 1rem 0 1rem; }

.remove-margin {
  margin-bottom: 0rem; }

.small-image {
  height: 2rem; }

.notification {
  color: white;
  text-decoration: none;
  padding: 0rem 0rem;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  top: 4rem;
  right: 4rem; }
  .notification .badge {
    position: absolute;
    top: -1rem;
    right: -0.4rem;
    border-radius: 50%;
    background: rgba(18, 31, 221, 0.836);
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center; }

main {
  margin-top: -7rem; }

.actions {
  width: 100%;
  float: left;
  display: block;
  margin: 0 auto; }
  .actions .send {
    width: 24%;
    display: inline-block;
    margin: 1rem auto;
    font-size: 1.5rem;
    text-align: center; }
    .actions .send img {
      height: 5rem;
      width: 5rem; }
    .actions .send h3 {
      text-align: center; }
  .actions .others {
    width: 50%;
    float: left;
    display: inline-block; }
    .actions .others--icon {
      float: left;
      display: inline-block; }
      .actions .others--icon--image {
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        border: solid 0.5rem rgba(238, 230, 230, 0.57); }
    .actions .others--text {
      float: left;
      width: 58%;
      display: table;
      height: 4rem;
      font-size: 1.6rem; }
      .actions .others--text--content {
        display: table-cell;
        vertical-align: middle; }

.view-card {
  overflow-x: auto;
  display: flex;
  overflow-y: hidden;
  white-space: nowrap;
  margin-left: 2rem;
  box-shadow: 5px 4rem 9rem 2rem rgba(114, 111, 125, 0.2); }
  .view-card .card {
    flex: 0 0 auto;
    display: block;
    transition: 0.3s;
    width: 85%;
    height: 14rem;
    border-radius: .7rem;
    background-image: linear-gradient(to right, #0029e2 20%, #478dff);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    color: #ffffff;
    margin-right: 0.7rem; }
    .view-card .card img {
      height: 5.4rem; }
    .view-card .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
    .view-card .card .icon {
      display: inline-block;
      padding: 4rem 3rem;
      float: left; }
    .view-card .card .text {
      display: inline-block;
      padding: 4rem 0;
      float: left; }
    .view-card .card span {
      display: block; }
  .view-card::-webkit-scrollbar {
    display: none; }

.promo .text-black {
  display: inline;
  float: left; }

.promo .arrow {
  display: inline;
  float: right; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 1rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 1rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 1rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-1 {
    width: calc((100%)); }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

.header {
  height: 30rem;
  background-image: linear-gradient(to right top, #1409f0 80%, rgba(0, 89, 253, 0.9));
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 120%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 120%, 0 80%);
  padding-bottom: 5rem; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header .ba-icon {
    height: 3.5rem;
    color: #fff; }
  .header .profile {
    top: 10rem;
    position: absolute;
    width: 100%; }
    .header .profile-content {
      float: left;
      display: block; }
      .header .profile-content--img {
        margin: 1rem;
        float: left;
        display: inline-block;
        width: 7rem;
        height: 7rem;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        border: 0.5rem solid #fff; }
      .header .profile-content--text-content {
        float: left;
        display: grid;
        padding-top: 1rem; }
  .header img {
    display: inline;
    height: 100%;
    margin: 0 auto; }

.header-wrap {
  filter: drop-shadow(1 1rem 2rem rgba(0, 0, 0, 0.2)); }

.navbar {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  /* Style the links inside the navigation bar */ }
  .navbar--area {
    width: 100%;
    float: left;
    display: block;
    margin: 0 auto; }
    .navbar--area .menu {
      width: 32%;
      display: inline-block;
      padding: 2rem;
      font-size: 1.5rem;
      padding: 0.5rem;
      text-align: center; }
      .navbar--area .menu:hover {
        background-color: #ddd;
        color: #7967fa; }
    .navbar--area .active {
      color: #7967fa; }
    .navbar--area {
      color: rgba(0, 0, 0, 0.2); }
