.composition {
    margin-top: -10rem;
    position: relative;
    background: $color-white;
    height: 40rem;
    box-shadow: 0 1rem 2rem rgba($color-black,.2);
    border-radius: 6
    //composition:hover composition__photo:not(:hover) {
}