.card {
    
  transition: 0.3s;
  width: 88%;
  border-radius: .7rem;
  background-image: linear-gradient(to right top, #4c4ff1, #a1bdf5);
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2);
  color: white;
  /* padding-left: 3rem; */
  margin-right: 0.7rem;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
        
 
  }
 
  
.view-card {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-left: 2rem;    
  box-shadow: 5px 4rem 9rem 2rem rgba(114, 111, 125, 0.2);
  .card {
    display: inline-block;

  }
  &::-webkit-scrollbar {    display: none;}
}
.promo{

    .text-black{
        display: inline;
        float: left;
    }
    .arrow{
        display: inline;
        float: right;
    }
}
