.header {
    height: 25rem;
    background-image: linear-gradient(
        to right top,
        rgba($color-primary-dark , 0.8) 15%,
        rgba($color-primary-light, 0.8));
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 120%, 0 80%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 120%, 0 80%);
    padding-bottom: 5rem;
    &__logo-box {
        position: absolute;
        top: 3rem;
        left: 3rem;
 
    }

    .ba-icon {
        height: 3.5rem;
        color: $color-white;
        }
    .profile{
        top: 8.3rem;
        position: absolute;
        width: 100%;
        &-content{    
            float: left;
            display: block;
            &--img{
               
                margin: 1rem;
                float: left;
                display: inline-block;
                width: 7rem;
                height: 7rem;
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                border: .5rem solid $color-white;
            }
            &--text-content{  
                float: left;
                display: grid;
                padding-top: 1rem;
            }
        }

    }
   img{
    display: inline;
    height: 100%;
    margin: 0 auto;
   }
}


.notification {
    color: white;
    text-decoration: none;
    padding: 0rem 0rem;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    top: 4rem;
    right: 4rem;
    .badge {
        position: absolute;
        top: -1rem;
        right: -0.4rem;
        border-radius: 50%;
        background: rgba(18, 31, 221, 0.836);
        color: #fff;
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
      }
  }
.header-wrap{   
     filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.2));
}