.navbar {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7rem;
    box-shadow: 0 0 1rem rgba($color-black,.2);
    /* Style the links inside the navigation bar */
    &--area{
        width: 100%;
        float: left;
        display: block;
        margin: 0 auto;
        .menu {
            width: 32%;
            display: inline-block;
            padding: 2rem;
            font-size: 1.5rem;
            padding: 0.5rem;
            text-align: center;
         
          }
          .active {
              color: rgba(purple,1);
          
          }
          :no
         

    }
   
      .navbar a:hover {
        background-color: #ddd;
        color: black;
      }
    
     
  }
  
  
  
  